<footer class="d-flex footer border-top mt-3">
  <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav class="ml-auto">
    <ul class="d-flex d-reverse">
      <%= link_to "About", about_path, class: 'mr-3'%>
      <%= link_to "Contact", contact_path, class: 'mr-3'%>
      <a href="http://news.railstutorial.org/">News</a>
    </ul>
  </nav>
</footer>