<header class="navbar navbar-expand navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
    <%= link_to "Micropost", root_path, class: "navbar-brand" %>
    <nav class="navbar-nav">
        <%= link_to "Home", root_path, class: "nav-item nav-link" %>
        <%= link_to "Help", help_path, class: "nav-item nav-link" %>
        <%= link_to "Log In", '#', class: "nav-item nav-link" %>
    </nav>
    </div>
</header>